<div class="contenedor-titulo">
  <h1 class="titulo-centrado">Registro de Certificados</h1>
</div>

<div class="contenedor-tabla">
  <form [formGroup]="form" (submit)="aceptar()" class="formulario-estilizado">

    @if (edicion) {
    <mat-form-field
      appearance="fill"
      class="form-control-id"
      [ngClass]="{ shake: form.get('codigo')?.invalid && form.get('codigo')?.touched }"
    >
      <mat-label>ID</mat-label>
      <input matInput placeholder="ID" formControlName="codigo" />
      @if (form.get('codigo')?.hasError('required')) {
      <mat-error>El código es obligatorio</mat-error>
      }
    </mat-form-field>
    }

    <mat-form-field
      appearance="fill"
      class="form-control-certificado"
      [ngClass]="{ shake: form.get('certificado')?.invalid && form.get('certificado')?.touched }"
    >
      <mat-label>Certificado</mat-label>
      <input matInput placeholder="Nombre del certificado" formControlName="certificado" />
      @if (form.get('certificado')?.hasError('required')) {
      <mat-error>El certificado es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-control-entidad"
      [ngClass]="{ shake: form.get('entidad')?.invalid && form.get('entidad')?.touched }"
    >
      <mat-label>Entidad emisora</mat-label>
      <input matInput placeholder="Entidad emisora" formControlName="entidad" />
      @if (form.get('entidad')?.hasError('required')) {
      <mat-error>La entidad emisora es obligatoria</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-control-fecha-emision"
      [ngClass]="{ shake: form.get('fecha_emision')?.invalid && form.get('fecha_emision')?.touched }"
    >
      <mat-label>Fecha emisión</mat-label>
      <input matInput [matDatepicker]="pickerEmision" formControlName="fecha_emision" placeholder="Selecciona fecha" />
      <mat-datepicker-toggle matIconSuffix [for]="pickerEmision"></mat-datepicker-toggle>
      <mat-datepicker #pickerEmision></mat-datepicker>
      @if (form.get('fecha_emision')?.hasError('required')) {
      <mat-error>La fecha de emisión es obligatoria</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="form-control-fecha-vencimiento"
      [ngClass]="{ shake: form.get('fecha_vencimiento')?.invalid && form.get('fecha_vencimiento')?.touched }"
    >
      <mat-label>Fecha vencimiento</mat-label>
      <input matInput [matDatepicker]="pickerVencimiento" formControlName="fecha_vencimiento" placeholder="Selecciona fecha" />
      <mat-datepicker-toggle matIconSuffix [for]="pickerVencimiento"></mat-datepicker-toggle>
      <mat-datepicker #pickerVencimiento></mat-datepicker>
      @if (form.get('fecha_vencimiento')?.hasError('required')) {
      <mat-error>La fecha de vencimiento es obligatoria</mat-error>
      }
    </mat-form-field>

    <div class="example-button-row">
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>

  </form>
</div>
