<div class="contenedor-titulo">
  <h1 class="titulo-centrado">Lista de Detalles</h1>
</div>

<div class="contenedor-tabla">
  <form class="formulario-estilizado">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Experiencias</th>
        <td mat-cell *matCellDef="let element">{{ element.experiencias.job }}</td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Estudios</th>
        <td mat-cell *matCellDef="let element">{{ element.estudios.title_obtained }}</td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Habilidades</th>
        <td mat-cell *matCellDef="let element">{{ element.habilidades.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Certificados</th>
        <td mat-cell *matCellDef="let element">{{ element.certificados.nombreCertificado }}</td>
      </ng-container>

      <!-- Comentados por si decides activarlos -->
      <!--
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Usuarios</th>
        <td mat-cell *matCellDef="let element">{{ element.user }}</td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Postulación</th>
        <td mat-cell *matCellDef="let element">{{ element.postulacion }}</td>
      </ng-container>
      -->

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [routerLink]="['ediciones', element.id]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="eliminar(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

  </form>
</div>
