<div class="contenedor-titulo">
  <h1 class="titulo-centrado">
    {{ edicion ? "Actualizar Contrato" : "Registro de Contrato" }}
  </h1>
</div>

<div class="contenedor-tabla">
  <form [formGroup]="form" (submit)="aceptar()" class="formulario-estilizado">
    <!-- Campo ID (solo si está en edición) -->
    <div *ngIf="edicion">
      <mat-form-field
        appearance="fill"
        class="form-control-id"
        [ngClass]="{
          shake: form.get('id')?.invalid && form.get('id')?.touched
        }"
      >
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="id" />
        <mat-error *ngIf="form.get('id')?.hasError('required')">
          El código es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field
      class="form-control-startDate"
      [ngClass]="{
        shake: form.get('startDate')?.invalid && form.get('startDate')?.touched
      }"
    >
      <mat-label>Fecha Inicio</mat-label>
      <input
        matInput
        [matDatepicker]="pickerInicio"
        formControlName="startDate"
        readonly
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerInicio"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
      <mat-error *ngIf="form.get('startDate')?.hasError('required')">
        La fecha de inicio es obligatoria!!!
      </mat-error>
    </mat-form-field>

    <!-- Campo Fecha Fin -->
    <mat-form-field
      class="form-control-endDate"
      [ngClass]="{
        shake: form.get('endDate')?.invalid && form.get('endDate')?.touched
      }"
    >
      <mat-label>Fecha Fin</mat-label>
      <input
        matInput
        [matDatepicker]="pickerFin"
        formControlName="endDate"
        [min]="form.get('startDate')?.value"
        readonly
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerFin"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
      <mat-error *ngIf="form.get('endDate')?.hasError('required')">
        La fecha de fin es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Campo Salario -->
    <mat-form-field class="example-full-width">
      <mat-label>Salario</mat-label>
      <input matInput formControlName="salary" type="number" />
      <mat-error *ngIf="form.get('salary')?.hasError('required')">
        El salario es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Campo Tipo de contrato -->
    <mat-form-field class="example-full-width">
      <mat-label>Tipo de contrato</mat-label>
      <input matInput formControlName="contractType" />
      <mat-error *ngIf="form.get('contractType')?.hasError('required')">
        El tipo de contrato es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Postulacion</mat-label>
      <mat-select formControlName="postulacion">
        @for (postulacion of listPostulacion; track postulacion) {
        <mat-option [value]="postulacion.id">{{
          postulacion.ofertaTrabajo.name
        }}</mat-option>
        }
      </mat-select>

      <mat-error *ngIf="form.get('postulacion')?.hasError('required')">
        La postulación es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="usuarios">
        @for (usuario of listUsuario; track usuario) {
        <mat-option [value]="usuario.idUsuario">{{
          usuario.nombreUsuario
        }}</mat-option>
        }
      </mat-select>

      <mat-error *ngIf="form.get('usuarios')?.hasError('required')">
        El usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Campo Empresa -->
    <mat-form-field>
      <mat-label>Empresa</mat-label>
      <mat-select formControlName="empresa">
        @for (empresa of empresas; track empresa) {
        <mat-option [value]="empresa.id">{{ empresa.name }}</mat-option>
        }
      </mat-select>

      <mat-error *ngIf="form.get('empresa')?.hasError('required')">
        La empresa es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Botón -->
    <div class="example-button-row">
      <button mat-raised-button color="primary">Guardar</button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="cancelar()"
        style="margin-left: 16px"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
