<div class="contenedor-titulo">
  <h1 class="titulo-centrado">Lista de Habilidades</h1>
</div>

<div class="contenedor-tabla">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla-estilizada">
    
    <!-- ID -->
    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id_habilidad }}</td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef>Habilidad</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- Botón de editar -->
    <ng-container matColumnDef="c3">
      <th mat-header-cell *matHeaderCellDef>Actualizar</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/habilidades/ediciones', element.id_habilidad]"
          aria-label="Editar habilidad"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
