.acciones-superiores {
  width: 100%;
  display: flex;
  justify-content: space-between; /* separa los dos elementos */
  align-items: center;
  padding: 0 20px; /* margen interno hacia los lados */
  box-sizing: border-box;
}

/* Campo de búsqueda con ancho limitado */
.campo-busqueda {
  max-width: 300px;
  width: 100%;
}

/* Espaciador para empujar los botones a los lados */
.spacer {
  flex-grow: 0.9; /* Ocupa todo el espacio disponible */
}

/* Boton editar */
.boton-editar:hover {
  background-color: #ffffff84;
}

.color-icono{
  color: #43538a;
}

.boton-editar:hover .color-icono{
  color: #283253;
}

/* Boton eliminar) */
.boton-eliminar:hover {
  background-color: #ffffff84;
}

.color-icono-eliminar{
  color: #43538a;
}

.boton-eliminar:hover .color-icono-eliminar{
  color: #f30715;
}
