<div class="container">
  <div style="text-align: center; margin: 6%">
    <h1>Lista de Certificados</h1>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idCertificado }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Certificado</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombreCertificado }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Entidad Emisora</th>
        <td mat-cell *matCellDef="let element">
          {{ element.entidadEmisoraCertificado }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Fecha Emisión</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaEmisionCertificado }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Fecha Vencimiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaVencimientoCertificado }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
