<div class="contenedor-titulo">
  <h1 class="titulo-centrado" *ngIf="!edicion">Registro de Rol</h1>
  <h1 class="titulo-centrado" *ngIf="edicion">Actualizar Rol</h1>
</div>

<div class="contenedor-tabla">
  <form [formGroup]="form" (ngSubmit)="aceptar()" class="formulario-estilizado">
    <!-- Campo ID (solo en edición) -->
    <mat-form-field *ngIf="edicion">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" />
      <mat-error *ngIf="form.get('id')?.hasError('required')">
        El código es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Nombre -->
    <br />
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="nombre">
        @for (t of tipos; track t) {
        <mat-option [value]="t.value">{{ t.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <br />

    <!-- Usuario -->
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="usuario">
        @for (food of listaUsuario; track food) {
        <mat-option [value]="food.idUsuario">{{ food.idUsuario }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('usuario')?.hasError('required')">
        El usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Botones -->
    <div class="example-button-row">
      <button
        mat-raised-button
        class="boton-personalizado"
        color="primary"
        type="submit"
      >
        Aceptar
      </button>
      <button
        mat-raised-button
        class="boton-personalizado"
        color="warn"
        type="button"
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
