<div class="contenedor-titulo">
  <h1 class="titulo-centrado">
    {{ edicion ? "Actualizar Estudio" : "Registro de Postulación" }}
  </h1>
</div>

<div class="contenedor-tabla">
  <form [formGroup]="form" (ngSubmit)="aceptar()" class="formulario-estilizado">
    <!-- Campo ID (condicional) -->
    <div *ngIf="edicion">
      <mat-form-field
        appearance="fill"
        class="form-control-id"
        [ngClass]="{
          shake: form.get('id')?.invalid && form.get('id')?.touched
        }"
      >
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="id" />
        <mat-error *ngIf="form.get('id')?.hasError('required')">
          El código es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Campo Fecha -->
    <mat-form-field
      class="form-control-date"
      [ngClass]="{
        shake: form.get('date')?.invalid && form.get('date')?.touched
      }"
    >
      <mat-label>Fecha</mat-label>
      <input
        matInput
        [matDatepicker]="pickerInicio"
        formControlName="date"
        readonly
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerInicio"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
      <mat-error *ngIf="form.get('date')?.hasError('required')">
        La fecha es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [ngClass]="{
        shake: form.get('state')?.invalid && form.get('state')?.touched
      }"
    >
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state">
        @for (estado of estados; track estado) {
        <mat-option [value]="estado.value">{{ estado.viewValue }}</mat-option>
        }
      </mat-select>

      <mat-error *ngIf="form.get('state')?.hasError('required')">
        El estado es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [ngClass]="{
        shake:
          form.get('ofertaTrabajo')?.invalid &&
          form.get('ofertaTrabajo')?.touched
      }"
    >
      <mat-label>Estado</mat-label>
      <mat-select formControlName="ofertaTrabajo">
        @for (ofertaTrabajo of listOfertaTrabajo; track ofertaTrabajo) {
        <mat-option [value]="ofertaTrabajo.id">{{
          ofertaTrabajo.name
        }}</mat-option>
        }
      </mat-select>

      <mat-error *ngIf="form.get('ofertaTrabajo')?.hasError('required')">
        El estado es obligatoria
      </mat-error>
    </mat-form-field>

    <div class="favorito-radio grupo-radio">
      <mat-label class="titulo-radio">¿Seleccionado?</mat-label>
      <mat-radio-group formControlName="acceptedcandidate">
        <mat-radio-button [value]="true">Sí</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Botón Guardar -->
    <div class="example-button-row">
      <button mat-raised-button color="primary">Guardar</button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="cancelar()"
        style="margin-left: 16px"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
