<div class="contenedor-titulo">
  <h1 class="titulo-centrado">Registro de Habilidades</h1>
</div>

<div class="contenedor-tabla">
  <form [formGroup]="form" (submit)="aceptar()" class="formulario-estilizado">
    @if (edicion) {
    <mat-form-field
      appearance="fill"
      class="form-control-id"
      [ngClass]="{ shake: form.get('id')?.invalid && form.get('id')?.touched }"
    >
      <mat-label>ID</mat-label>
      <input matInput placeholder="ID" formControlName="id" />
      @if (form.get('id')?.hasError('required')) {
      <mat-error>El código es obligatorio</mat-error>
      }
    </mat-form-field>
    }

    <mat-form-field
      appearance="fill"
      class="form-control-name"
      [ngClass]="{
        shake: form.get('name')?.invalid && form.get('name')?.touched
      }"
    >
      <mat-label>Nombre</mat-label>
      <input
        matInput
        #message
        maxlength="100"
        formControlName="name"
        (keypress)="soloLetras($event)"
      />
      <mat-hint align="end">{{ message.value.length }} / 100</mat-hint>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        La habilidad es obligatoria!!!
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('pattern')">
        Solo se permiten letras y espacios.
      </mat-error>
    </mat-form-field>

    <div class="example-button-row">
      <button mat-raised-button color="primary">Guardar</button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="cancelar()"
        style="margin-left: 16px"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
