<router-outlet></router-outlet>
<div class="dashboard-container">
  <h1 class="titulo-dashboard">📊 Dashboard de Reportes</h1>

  <div class="grid-dashboard">
    <mat-card class="card-estadistica">
      <app-cantidadcertificados></app-cantidadcertificados>
    </mat-card>

    <mat-card class="card-estadistica">
      <app-cantidadempresacurso></app-cantidadempresacurso>
    </mat-card>

    <mat-card class="card-estadistica">
      <app-cantidadplataformacurso></app-cantidadplataformacurso>
    </mat-card>
  </div>
</div>