<div class="dashboard-container">
  <h1 class="titulo-dashboard">📊 Dashboard de Reportes</h1>

  <mat-tab-group>
    <mat-tab label="Certificados">
      <mat-card class="card-estadistica">
        <app-cantidadcertificados></app-cantidadcertificados>
      </mat-card>
    </mat-tab>

    <mat-tab label="Cursos por Empresa">
      <mat-card class="card-estadistica">
        <app-cantidadempresacurso></app-cantidadempresacurso>
      </mat-card>
    </mat-tab>

    <mat-tab label="Cursos por Plataforma">
      <mat-card class="card-estadistica">
        <app-cantidadplataformacurso></app-cantidadplataformacurso>
      </mat-card>
    </mat-tab>

    <mat-tab label="Promedio Currículum">
      <mat-card class="card-estadistica">
        <app-curriculumpromedio></app-curriculumpromedio>
      </mat-card>
    </mat-tab>

    <mat-tab label="Frecuencia habilidades">
      <mat-card class="card-estadistica">
        <app-frecuenciahabilidades></app-frecuenciahabilidades>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
