<div class="contenedor-titulo">
  <h1 class="titulo-centrado">Registro de Estudios</h1>
</div>

<div class="contenedor-tabla">
  <form [formGroup]="form" (ngSubmit)="aceptar()" class="formulario-estilizado">
    <!-- Campo ID (condicional) -->
    <div *ngIf="edicion">
      <mat-form-field
        appearance="fill"
        class="form-control-id"
        [ngClass]="{
          shake: form.get('codigo')?.invalid && form.get('codigo')?.touched
        }"
      >
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Campo Título/Nombre del Estudio -->
    <mat-form-field
      appearance="fill"
      class="form-control-name"
      [ngClass]="{
        shake: form.get('titulo')?.invalid && form.get('titulo')?.touched
      }"
    >
      <mat-label>Titulo</mat-label>
      <input
        matInput
        placeholder="Nombre del titulo"
        formControlName="titulo"
      />
      <mat-error *ngIf="form.get('titulo')?.hasError('required')">
        El Titulo es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Campo Centro de Estudio -->
    <mat-form-field
      class="example-full-width"
      [ngClass]="{
        shake: form.get('centro')?.invalid && form.get('centro')?.touched
      }"
    >
      <mat-label>Centro de Estudio</mat-label>
      <input
        matInput
        placeholder="Nombre del centro"
        formControlName="centro"
      />
      <mat-error *ngIf="form.get('centro')?.hasError('required')">
        El centro es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Campo Fecha Inicio -->
    <mat-form-field
      [ngClass]="{
        shake:
          form.get('fecha_inicio')?.invalid && form.get('fecha_inicio')?.touched
      }"
    >
      <mat-label>Fecha Inicio:</mat-label>
      <input
        matInput
        [matDatepicker]="pickerInicio"
        formControlName="fecha_inicio"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerInicio"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
      <mat-error *ngIf="form.get('fecha_inicio')?.hasError('required')">
        La fecha de inicio es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Campo Fecha Fin -->
    <mat-form-field
      [ngClass]="{
        shake: form.get('fecha_fin')?.invalid && form.get('fecha_fin')?.touched
      }"
    >
      <mat-label>Fecha Fin:</mat-label>
      <input matInput [matDatepicker]="pickerFin" formControlName="fecha_fin" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerFin"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
      <mat-error *ngIf="form.get('fecha_fin')?.hasError('required')">
        La fecha de fin es obligatoria
      </mat-error>
    </mat-form-field>

    <!-- Botón Guardar -->
    <div class="example-button-row">
      <button mat-raised-button color="primary">Guardar</button>
    </div>
  </form>
</div>
