<div class="contenedor-titulo">
  <h1 class="titulo-centrado">
    {{ edicion ? "Actualizar Estudio" : "Registro de Estudio" }}
  </h1>
</div>

<div class="contenedor-tabla">
  <form [formGroup]="form" (ngSubmit)="aceptar()" class="formulario-estilizado">
    <!-- Campo ID (condicional) -->
    <div *ngIf="edicion">
      <mat-form-field
        appearance="fill"
        class="form-control-codigo"
        [ngClass]="{
          shake: form.get('codigo')?.invalid && form.get('codigo')?.touched
        }"
      >
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Campo Título/Nombre del Estudio -->
    <mat-form-field
      appearance="fill"
      class="form-control-titulo"
      [ngClass]="{
        shake: form.get('titulo')?.invalid && form.get('titulo')?.touched
      }"
    >
      <mat-label>Titulo</mat-label>
      <input
        matInput
        #message
        maxlength="100"
        formControlName="titulo"
        (keypress)="soloLetras($event)"
      />
      <mat-hint align="end">{{ message.value.length }} / 100</mat-hint>
      <mat-error *ngIf="form.get('titulo')?.hasError('required')">
        El Título es obligatorio!!!
      </mat-error>
      <mat-error *ngIf="form.get('titulo')?.hasError('pattern')">
        Solo se permiten letras y espacios
      </mat-error>
    </mat-form-field>

    <!-- Campo Centro de Estudio -->
    <mat-form-field
      class="form-control-centro"
      [ngClass]="{
        shake: form.get('centro')?.invalid && form.get('centro')?.touched
      }"
    >
      <mat-label>Centro de Estudio</mat-label>
      <input
        matInput
        #message2
        maxlength="100"
        formControlName="centro"
        (keypress)="soloLetras($event)"
      />
      <mat-hint align="end">{{ message2.value.length }} / 100</mat-hint>
      <mat-error *ngIf="form.get('centro')?.hasError('required')">
        El Centro de Estudio es obligatorio!!!
      </mat-error>
      <mat-error *ngIf="form.get('centro')?.hasError('pattern')">
        Solo se permiten letras y espacios
      </mat-error>
    </mat-form-field>

    <!-- Campo Fecha Inicio -->
    <mat-form-field
      class="form-control-fecha_inicio"
      [ngClass]="{
        shake:
          form.get('fecha_inicio')?.invalid && form.get('fecha_inicio')?.touched
      }"
    >
      <mat-label>Fecha Inicio</mat-label>
      <input
        matInput
        [matDatepicker]="pickerInicio"
        formControlName="fecha_inicio"
        readonly
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerInicio"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
      <mat-error *ngIf="form.get('fecha_inicio')?.hasError('required')">
        La fecha de inicio es obligatoria!!!
      </mat-error>
    </mat-form-field>

    <!-- Campo Fecha Fin -->
    <mat-form-field
      class="form-control-fecha_fin"
      [ngClass]="{
        shake: form.get('fecha_fin')?.invalid && form.get('fecha_fin')?.touched
      }"
    >
      <mat-label>Fecha Fin</mat-label>
      <input
        matInput
        [matDatepicker]="pickerFin"
        formControlName="fecha_fin"
        [min]="form.get('fecha_inicio')?.value"
        readonly
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="pickerFin"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
      <mat-error *ngIf="form.get('fecha_fin')?.hasError('required')">
        La fecha de fin es obligatoria!!!
      </mat-error>
      <mat-error *ngIf="form.hasError('fechaFinInvalida')">
        La fecha de fin no puede ser anterior a la fecha de inicio!!!
      </mat-error>
    </mat-form-field>

    <!-- Botón Guardar -->
    <div class="example-button-row">
      <button mat-raised-button color="primary">Guardar</button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="cancelar()"
        style="margin-left: 16px"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
