<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="margin-left: 1rem;">Menú Principal</span>
</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="menuCertificado">
    <mat-icon>verified</mat-icon>
    <span>Certificados</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuCurso">
    <mat-icon>menu_book</mat-icon>
    <span>Cursos</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuHabilidades">
    <mat-icon>lightbulb</mat-icon>
    <span>Habilidades</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuEstudios">
    <mat-icon>school</mat-icon>
    <span>Estudios</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuExperiencias">
    <mat-icon>work</mat-icon>
    <span>Experiencias</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuEntrevistas">
    <mat-icon>record_voice_over</mat-icon>
    <span>Entrevistas</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuContratos">
    <mat-icon>description</mat-icon>
    <span>Contratos</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuDetalles">
    <mat-icon>info</mat-icon>
    <span>Detalles</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuUsuario">
    <mat-icon>group</mat-icon>
    <span>Usuarios</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuEmpresa">
    <mat-icon>business</mat-icon>
    <span>Empresa</span>
  </button>
</mat-menu>


<mat-menu #menuCertificado="matMenu">
  <button mat-menu-item routerLink="/certificados">Listar</button>
  <button mat-menu-item routerLink="/certificados/insertareditar">Registrar</button>
</mat-menu>
<mat-menu #menuCurso="matMenu">
  <button mat-menu-item routerLink="/cursos">Listar</button>
  <button mat-menu-item routerLink="/cursos/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuHabilidades="matMenu">
  <button mat-menu-item routerLink="/habilidades">Listar</button>
  <button mat-menu-item routerLink="/habilidades/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuEstudios="matMenu">
  <button mat-menu-item routerLink="/estudios">Listar</button>
  <button mat-menu-item routerLink="/estudios/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuExperiencias="matMenu">
  <button mat-menu-item routerLink="/experiencias">Listar</button>
  <button mat-menu-item routerLink="/experiencias/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuEntrevistas="matMenu">
  <button mat-menu-item routerLink="/entrevista">Listar</button>
  <button mat-menu-item routerLink="/entrevista/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuContratos="matMenu">
  <button mat-menu-item routerLink="/contratos">Listar</button>
  <button mat-menu-item routerLink="/contratos/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuDetalles="matMenu">
  <button mat-menu-item routerLink="/detalles">Listar</button>
  <button mat-menu-item routerLink="/detalles/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/registrar">Registrar</button>
</mat-menu>
<mat-menu #menuEmpresa="matMenu">
  <button mat-menu-item routerLink="/empresa">Listar</button>
</mat-menu>
