<mat-toolbar class="toolbar-transparente">
  <div class="toolbar-izquierda">
    <button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <a
      routerLink="/home"
      style="
        margin-right: auto;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        font-size: 16px;
      "
      >Menú Principal</a
    >
  </div>

  <div class="toolbar-derecha">
    <button mat-button routerLink="/reportes">
      <mat-icon>assessment</mat-icon>
      Reportes
    </button>
  </div>
</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <!-- Usuarios -->
  <button mat-menu-item routerLink="/usuarios">
    <mat-icon>group</mat-icon>
    <span>Usuarios</span>
  </button>

  <!-- Roles -->
  <button mat-menu-item routerLink="/rol">
    <mat-icon>manage_accounts</mat-icon>
    <span>Rol</span>
  </button>

  <!-- Curriculum -->
  <button mat-menu-item routerLink="/curriculum">
    <mat-icon>assignment</mat-icon>
    <span>Curriculum</span>
  </button>

  <!-- Estudio -->
  <button mat-menu-item routerLink="/estudios">
    <mat-icon>school</mat-icon>
    <span>Estudios</span>
  </button>

  <!-- Experiencia -->
  <button mat-menu-item routerLink="/experiencias">
    <mat-icon>work</mat-icon>
    <span>Experiencias</span>
  </button>

  <!-- Habilidad -->
  <button mat-menu-item routerLink="/habilidades">
    <mat-icon>lightbulb</mat-icon>
    <span>Habilidades</span>
  </button>

  <!-- Empresa -->
  <button mat-menu-item routerLink="/empresa">
    <mat-icon>business</mat-icon>
    <span>Empresa</span>
  </button>

  <!-- Oferta de Trabajo -->
  <button mat-menu-item routerLink="/ofertadetrabajo">
    <mat-icon>work</mat-icon>
    <span>Oferta de Trabajo</span>
  </button>

  <!-- Postulacion -->
  <button mat-menu-item routerLink="/postulacion">
    <mat-icon>how_to_reg</mat-icon>
    <span>Postulacion</span>
  </button>

  <!-- Certificado -->
  <button mat-menu-item routerLink="/certificados">
    <mat-icon>verified</mat-icon>
    <span>Certificados</span>
  </button>

  <!-- Curso -->
  <button mat-menu-item routerLink="/cursos">
    <mat-icon>menu_book</mat-icon>
    <span>Cursos</span>
  </button>

  <!-- Inscripcion Curso -->
  <button mat-menu-item routerLink="/inscripcioncursos">
    <mat-icon>book</mat-icon>
    <span>Inscripcion Curso</span>
  </button>

  <!-- Entrevista  -->
  <button mat-menu-item routerLink="/entrevista">
    <mat-icon>record_voice_over</mat-icon>
    <span>Entrevistas</span>
  </button>

  <!-- Contrato  -->
  <button mat-menu-item routerLink="/contratos">
    <mat-icon>description</mat-icon>
    <span>Contratos</span>
  </button>

  <!-- Detalle  -->
  <button mat-menu-item routerLink="/detalles">
    <mat-icon>info</mat-icon>
    <span>Detalles</span>
  </button>
</mat-menu>

<mat-menu #menuCertificado="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/certificados/insertareditar">
    Registrar
  </button>
</mat-menu>
<mat-menu #menuCurso="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/cursos/insertareditarcurso">
    Registrar
  </button>
</mat-menu>
<mat-menu #menuHabilidades="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/habilidades/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuEstudios="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/estudios/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuExperiencias="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/experiencias/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuEntrevistas="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/entrevista/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuContratos="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/contratos/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuDetalles="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/detalles/insertar">Registrar</button>
</mat-menu>
<mat-menu #menuUsuario="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/usuarios/registrar">Registrar</button>
</mat-menu>
<mat-menu #menuEmpresa="matMenu">
  <button mat-menu-item>Listar</button>
</mat-menu>
<mat-menu #menuRol="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/rol/registrar">Registrar</button>
</mat-menu>
<mat-menu #menuForo="matMenu">
  <button mat-menu-item>Listar</button>
</mat-menu>
<mat-menu #menuInscripcionCurso="matMenu">
  <button mat-menu-item>Listar</button>
  <button mat-menu-item routerLink="/inscripcioncursos/registrar">
    Registrar
  </button>
</mat-menu>
